 <!-- Home page - not used in this task-->
    {{> header}}

    <h1 <span style="background-color: rgb(219, 206, 206);">Please note that in this particular task I'm using login page as 
        guest homepage and dashboard as loggedin-user homepage as per the instructions. 
        This route was left working just in case someone tries to get to #/home manually from the browser by habit. 
        Thank you :) </h1>

    {{> footer}}
    <!-- ./Home page -->